*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
p{
  margin-top: 1.1em;
  font-weight: 300;
  color: #111;
  font-size: 1.1em;
}
p span{
  font-weight: 600;
  color: #000;
}
p a{
  text-decoration: none;
  font-style: italic;
}
p a:hover{
  text-decoration: underline;
}
.smallText{
  font-size: 0.9em;
}
.indicator{
  position: fixed;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  bottom: 70px;
  scale: 0.5;
}
.indicator span{
  position: absolute;
  margin: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  animation: indicator 1s linear infinite;
}
.indicator span:nth-child(1){
  top: -30px;
  left: -30px;
}
.indicator span:nth-child(2){
  top: -15px;
  left: -15px;
  animation-delay: 0.2s;
}
.indicator span:nth-child(3){
  animation-delay: 0.4s;
}
.indicator span:nth-child(4){
  top: 15px;
  left: 15px;
  animation-delay: 0.6s;
}
.indicator span:nth-child(5){
  top: 30px;
  left: 30px;
  animation-delay: 0.8s;
}
@keyframes indicator {
  0%{
    border-color: #ccc;
    transform: translate(0, 0);
  }
  20%{
    border-color: #ccc;
    transform: translate(15px, 15px);
  }
  20.1%, 100%{
    border-color: #fff;
    
  }
}
header{
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000000;
  align-items: center;
  transition: 0.5s;
}
header.sticky{
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky .logo{
  color: #111;
}
header .nav-links{
  display: flex;
  position: relative;
  list-style: none;
}
header .logo{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
}
header .logo span{
  color: #A70035;
}
header .nav-links li{
  margin-left: 30px;
  position: relative;
}
header .nav-links li a, header.nav-links li p{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 300;
  padding: 10px 15px;
  border-radius: 30px;
  transition: 250ms all ease-in-out;
}
header.sticky .nav-links li a, header.sticky .nav-links li p{
  color: #111;
}
header .nav-links li a:hover{
  color: #A70035;
}
header .nav-links li ul{
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0 20px;
  right: 0;
}
header .nav-links li ul li{
  margin-left: 0;
  width: 100%;
}
header .nav-links li ul li a{
  color: black;
}
header .nav-links li:hover ul{
  display: block;
}
.banner{
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('Images/People.webp');
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  flex-direction: column;
}

.banner .content{
  max-width: 900px;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.banner .content h1{
  font-size: 2.5em;
  color: #fff;
}
.banner .content p{
  font-size: 1em;
  color: #fff;
}
.auto-type{
  color: yellow;
}
.button{
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  overflow: hidden;
  transition: 500ms;
  font-weight: 700;
  padding: 20px;
  align-self: center;
  margin: 30px;
  width: 250px;
}
.button:hover{
  background: #fff;
  color: #111;
}
.button span{
  position: absolute;
  display: block;
}
.button span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: line1 1s linear infinite;
}
.button span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: line2 1s linear infinite;
  animation-delay: 250ms;
}
.button span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: line3 1s linear infinite;
  animation-delay: 500ms;
}
.button span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: line4 1s linear infinite;
  animation-delay: 750ms;
}

@keyframes line1 {
  0%{
    left: -100%;
  }
  50%, 100%{
    left: 100%;
  }
}
@keyframes line2 {
  0%{
    top: -100%;
  }
  50%, 100%{
    top: 100%;
  }
}
@keyframes line3 {
  0%{
    right: -100%;
  }
  50%, 100%{
    right: 100%;
  }
}
@keyframes line4 {
  0%{
    bottom: -100%;
  }
  50%, 100%{
    bottom: 100%;
  }
}
section{
  padding: 100px;
  position: relative;
}
.row{
  position: relative;
  display: flex;
  gap: 1.5em;
}
.row .card{
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 400px;
  box-shadow: 0 7px 15px grey;
  flex-wrap: wrap;
}
.row .card .content{
  padding: 30px;
  position: relative;
}
.row .card .content p{
  font-size: 0.9em;
}
.row .card .content button{
  border: none;
  color: #fff;
  background-color: #A70035;
  padding: 15px 30px;
  display: inline-block;
  margin-top: 20px;
  transition: all 500ms ease;
  position: relative;
  align-self: flex-end;
}
.row .card .content button:hover{
  letter-spacing: 6px;
}
.imageBox{
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
figure{
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.figure img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footnote{
  font-size: 0.7rem;
  color: #111;
  font-weight: 400;
  padding: 4px;
  vertical-align: super;
}

.footnotes::before{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: -10px;
  left: -10px;
  background: #111;
}
.footnotes{
  margin-top: 50px;
  position: relative;
  max-width: 80%;
}
.footnotes li{
  font-size: 0.7em;
}
footer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 1.2em;
}
footer p{
  font-size: 0.8em;
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50px);
  transition: all 500ms;
}
.show{
  filter: none;
  transform: translateY(0);
  opacity: 1;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  box-shadow: 0 0 5px black, 0 0 15px black;
  border-radius: 10px;
  z-index: 1000000000000000000000000000000000;
  background-color: white;
  width: 1000px;
  max-height: 90%;
  max-width: 95%;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 30px;
  padding-bottom: 10px !important;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}
.modal-header.euro{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('Images/europe-map.webp');
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}
.modal-header.tourism{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('Images/tourism.webp');
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}
.modal-header.digitalisation{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('Images/Digitalisation.webp');
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}
.modal-header .title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
iframe{
  width: 100%;
}
.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

.modal-body {
  padding: 20px 30px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 1.1em;
  justify-content: center;
  flex-direction: column;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
@media (perfers-reduced-motion) {
  .hidden{
    transition: none;
  }
}
@media (max-width: 991px){
  header, header.sticky{
    padding: 10px 20px;
  }
  header .nav-links{
    display: none;
  }
  .menuToggle{
    position: relative;
    width: 40px;
    height: 40px;
    background: url("Images/menu.webp");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active{
    background: url("Images/close.webp");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header .menuToggle{
    filter: invert(1);
  }
  header.sticky .menuToggle{
    filter: invert(0);
  }
  header .nav-links.active{
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
  }
  header .nav-links li{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .nav-links li a{
    text-decoration: none;
    font-size: 1.3em;
    color: #111;
    font-weight: 300;
  }
  header .nav-links li ul{
    display: block;
    position: relative;
    background-color: none;
  }
  header .nav-links li .dropdown li{
    font-size: 0.8em;
  }
  section{
    padding: 20px;
  }
  .banner .content h1{
    font-size: 2em;
  }
  .row{
    flex-direction: column;
  }
  .row .card{
    position: relative;
    width: 100%;
  }
}
